

.get-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.get-modal-content {
    background: white;
    height: 150;
    width: 240;
    margin: auto;
    padding: 2%;
    border: 2px solid #000;
    border-radius: 10px;
}

.get-button-close {
    width: 10%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #612525;
    cursor: pointer;
    float: right;
    background-color: transparent;
}