/* modal.jsx */
.form-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-modal-content {
    background: white;
    height: 150;
    width: 240;
    margin: auto;
    padding: 2%;
    border: 2px solid #000;
    border-radius: 10px;
}

.form-button-close {
    width: 10%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #612525;
    cursor: pointer;
    float: right;
    background-color: transparent;
}

/* post.jsx */
.post-container {
    text-align: center;
    display: block;
    padding: 30px;
    margin: auto;
}

.post-input-name {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}
.post-input-email {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}
.post-input-password {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}
.post-button-submit {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}